# exclude everything except:
#   classify.py
#   training.py
#   utils/
#   scripts/
#   dataset/
#   error/
#   .gitignore
#   README.md

# ignore everything
*

# except ! the following

!README.md
!.gitignore

!training.py
!retraining.py

!utils/
!utils/**

!scripts/
!scripts/**

#!error/
#!error/**

!visual.py
!plot.py

!testing.py
!segmentation.py