# exclude everything except:
#   classify.py
#   training.py
#   utils/
#   scripts/
#   dataset/
#   error/
#   .gitignore
#   README.md

# ignore everything
*

# except the following

!README.md
!.gitignore
!classify.py
!classify_sw.py
!classify_sv.py
!training.py
!retraining.py

!utils/
!utils/**

!scripts/
!scripts/**

!logs/
!logs/**

#!dataset/
#!dataset/**

!error/
!error/**

!visual.py
!plot.py